<style>
    .verticalLine {
        border-left: solid blue;
        height: 30px;
    }
</style>

<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info" style="padding-left: 90px;">
        <tr>
            <td class="verticalLine" style="text-align: center;padding-left: 20px;padding-right: 20px;">
                <strong>Normal User</strong><br />Username: user <br />Password: user <br />

            </td>
            <td class="verticalLine"></td>

            <td style="text-align: center;padding-left: 20px;padding-right: 20px;">
                <strong>Administrator</strong><br />Username: admin <br />Password : admin<br />

            </td>
            <td class="verticalLine"></td>
        </tr>
    </div>

    <div class="card">
        <h4 class="card-header">Angular 8 - Role Based Authorization</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>